.gallery-container {
    flex: 0 1 auto;
    text-align: center;
}

.gallery {
    display: grid;
    // height: 100%;
    grid-template-rows: repeat(4, 300px);
    grid-template-columns: repeat(3, 300px);
    grid-gap: 20px;
    justify-content: center;
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;

    &.medium {
        grid-column: span 1;
        grid-row: span 2;
    }

    &.big {
        grid-column: span 2;
        grid-row: span 2;
    }

    &.wide {
        grid-column: span 2;
        grid-row: span 1;
    }

    &.small {
        grid-column: span 1;
        grid-row: span 1;
    }
}

// .embed-container {
//     padding: 5em;
// }

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1075px) {
    .gallery {
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(4, 200px);
    }
}

@media (max-width: 770px) {
    .gallery {
        display: flex;
        flex-direction: column;
    }
}
