/* Placement */
* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
}

.main {
    width: 64em;
    margin: 2em auto;

    .about {
        float: left;
        width: 800px;
    }
}

@media (max-width: 1164px) {
    .main {
        width: 100%;

        .about {
            float: none;
            width: 100%;
        }
    }
}

img,
embed,
object,
video {
    max-width: 100%;
}

.main .me img {
    border-radius: 50%;
}
