$font-color: #30291d;
$font-hover: #6a635e;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #eaeaea;
$background-alternative-color: #e0fbfc;
$footer-background-color: rgb(206, 203, 203);
$footer-text-color: #000;
$code-background: #f5f5f5;
$code-border: #ccc;

$main-header-font: 'Rockabye Normal', 'serif';
$main-font: 'Arial', 'Helvetica', 'sans-serif';
$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
