/* Placement */

body {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
}

.main {
    flex: 1 0 auto;
    width: 64em;
    margin: 2em auto;

    img {
        border-radius: 50%;
    }
}

a {
    text-decoration: none;
}

.header .footer {
    flex: 0 0 auto;
}

.nav a {
    color: $font-color;
}

.main code {
    background: $code-background;
    border: 1px solid $code-border;
} 

@media (max-width: 1164px) {
    .main {
        width: 100%;
    }
}
