$font-color: #e3e2e1;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #070817;
$background-alternative-color: #e0fbfc;
$footer-background-color: rgb(31, 29, 38);
$footer-text-color: rgb(230, 230, 230);
$code-background: rgb(41, 38, 49);
$code-border: rgb(31, 29, 36);

$main-header-font: 'Rockabye Normal', 'serif';
$main-font: 'Arial', 'Helvetica', 'sans-serif';
$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
