{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main gallery-container" role="main">
        {{ content }}
        <div class="gallery">
            <div class="gallery-item">one</div>
            <div class="gallery-item">two</div>
            <div class="gallery-item">three</div>
            <div class="gallery-item">four</div>
            <div class="gallery-item">five</div>
            <div class="gallery-item">six</div>
            <div class="gallery-item">seven</div>
            <div class="gallery-item">eight</div>
            <div class="gallery-item">nine</div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
